<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/nowfloats/Documents/Projects/DevopsMAC">
        <classes>
            <class name="Test.Google">
                <methods>
                    <include name="Test_GoogleTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>